.row {
	margin-left: 0;
	margin-right: 0;
}
html {
	overflow-x: hidden;
}
.vr {
	background-color: rgb(167, 167, 167);
	height: 33px;
	width: 1px;
	padding: 0;
	display: block;
	margin: auto 19px;
}

.inline {
	display: flex;
	width: 100%;
}

.flag {
	height: auto;
	width: auto;
	display: block;
	margin: auto 0;
	padding-right: 10px;
}
.bg-black {
	background-color: #181818;
}
.search {
	border: 1px solid white;
	border-radius: 3px;
	display: block;
}
.top-nav-p {
	color: white;

	font-size: 14px;
	margin: auto 0;
	padding-right: 90px;
}
.search-icon {
	margin: auto 0;
	height: 12px;
	width: 12px;
	display: block;
}
.content {
	padding: 7px 15px;
	display: flex;
}
.rainbow {
	width: 100%;
	height: auto;
	padding: 0;
	position: absolute;
	top: 103px;
}
.rainbow2 {
	width: 100%;
	height: auto;
	padding: 0;
	top: 200px;
}
.nav-btm {
	width: 100%;
	border-bottom: 2px solid black;
}
.nav-p {
	color: #2f2f2f;
}
.link-container {
	width: 90%;

	margin: 0 auto;
}
.padding {
	padding: 28px 15px 7px;
	border-right: 1px solid #d7d7d7;
	z-index: -1;
	cursor: pointer;
}
.border-left {
	border-left: 2px solid #d7d7d7;
}
.nav-p-sa {
	font-size: 12px;
	color: #888888;
	padding: 0;
	margin: 0;
}
.background-cpt {
	background: url(./img/cpt.png);
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
	height: 520px;
}
.covid-warning {
	display: inline-block;
	background: #ffb612;
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	width: 90%;
	margin: 30px 5%;
	padding: 15px;
}
.covid-p {
	font-size: 16px;
	color: #1a1a1a;
	padding: 0;
	margin: 7px 0 0;
}
.close-icon {
	display: block;
	float: right;
	font-size: 15px;
	color: #636363;
}
.intro {
	margin-top: 30px;
	width: 35%;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-left: 5%;
}
.intro-container {
	padding: 35px;
}
h1 {
	font-weight: bold;
	font-size: 27px;
	line-height: 31px;

	color: #4f4f4f;
}
.yellow-line {
	background-color: #ffb612;
	width: 79px;
	height: 3px;
	display: block;
	margin: 15px 0 25px;
}
.arrow-icon {
	display: block;
	float: right;
	margin: 10px 0 10px 8px;
}
.intro-link {
	padding-top: 30px;
	padding-bottom: 20px;
}

.news-container {
	padding: 35px 35px 35px 75px;
	color: white;
}
h2 {
	font-weight: bold;
	font-size: 25px;
}
.media-container {
	padding: 35px 75px 35px 35px;
	color: white;
}

.text-white {
	text-decoration-line: underline;
	font-size: 19px;
}
.text-muted {
	font-size: 15px;
}

.grey-text {
	color: #a3a3a3;
	font-size: 16px;
	line-height: 19px;
}

footer {
	padding-left: 75px;
	padding-right: 75px;
}

.rights-reserved {
	text-align: right;
}

/*services css*/
.service-heading {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 22px;

	color: #4f4f4f;
}

.yellowline {
	width: 55px;
	height: 2px;
	left: 811px;
	top: 721px;

	background: #ffb612;
	margin: 15px 0 20px 0;
}

.icon {
	width: 414px;
	height: 244px;
	left: 410px;
	top: 494px;

	background: url(69efb4158dbd06468635579d60d);
}

.section2 {
	width: 90%;
	display: block;
	margin: 150px auto;
}
.services {
	padding-left: 25px;
}
.service-row {
	margin-bottom: 80px;
}
